.user-chat{
    display: flex;
    justify-content: end;
    align-items: start;
}

.robot-chat{
    display: flex;
    align-items: start;
}

.user-text{

    background-color:#dadada;
    border-radius: 10px;
    max-width: 300px;
    padding:15px 20px;
    margin-right:10px;
}

.robot-text{
    color:white;
    background-color: rgb(25,134,84);
    border-radius: 10px;
    max-width: 300px;
    padding:15px 20px; 
    margin-left:10px;
}

.chat-message-profile{
    width:45px;
}
